{
  "presets": [
    "next/babel",
    "@emotion/babel-preset-css-prop",
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "emotion",
      {
        "sourceMap": true,
        "autoLabel": true,
        "labelFormat": "[local]",
        "cssPropOptimization": true
      }
    ]
  ]
}
